In [4]:
import sqlite3

In [5]:
# connect to sqlite database
connection = sqlite3.connect('example.db')
connection

In [6]:
cursor = connection.cursor()

In [15]:
#create table
cursor.execute('''
Create Table If Not Exists employees(
    id  integer Primary Key,
    name Text Not Null,
    age Integer
)
''')

# commit the changes
connection.commit()

cursor.execute('''
Select * from employees
''')

In [18]:
# insert data in table
cursor.execute('''
Insert Into employees(name, age)
    values('Shruti', 21)
''')
cursor.execute('''
Insert Into employees(name, age)
    values('Shravani', 16)
''')
cursor.execute('''
Insert Into employees(name, age)
    values('Anuj', 16)
''')

connection.commit()

In [21]:
# Query the data from table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Shruti', 21)
(2, 'Shravani', 16)
(3, 'Anuj', 16)
(4, 'Shruti', 21)
(5, 'Shravani', 16)
(6, 'Anuj', 16)
(7, 'Shruti', 21)
(8, 'Shravani', 16)
(9, 'Anuj', 16)