In [1]:
# creating a tuple 
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
numbers = tuple([1, 2, 3, 4, 5])
numbers

(1, 2, 3, 4, 5)

In [4]:
mixed_tuple = tuple(["Shruti", 5, 3.14, True])
mixed_tuple

('Shruti', 5, 3.14, True)

In [9]:
list = ([1, 2, 3, 4, 5, 6])
list

[1, 2, 3, 4, 5, 6]

In [15]:
## Accesing tuple elements
print(numbers)
print(numbers[-1])
print(numbers[0:4])
print(numbers[::-1])

(1, 2, 3, 4, 5)
5
(1, 2, 3, 4)
(5, 4, 3, 2, 1)

In [16]:
##Tuple Operations
concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 'Shruti', 5, 3.14, True)

In [17]:
mixed_tuple*3

('Shruti', 5, 3.14, True, 'Shruti', 5, 3.14, True, 'Shruti', 5, 3.14, True)

In [18]:
numbers*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [19]:
# Imutable nature of tuple
list = [1, 2, 3, 4, 5]
print(list)
list[1] = "Shruti"
print(list)

[1, 2, 3, 4, 5]
[1, 'Shruti', 3, 4, 5]

In [20]:
# Tuple methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [21]:
# Packing 
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [22]:
# Unpacking Tuple
a, b, c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [23]:
# Nested List
list = [[1,2,3,4], [6,7,8,9], [1,"Hello",3.14,"c"]]
list[0][2]

3

In [24]:
# Nested Tuple
nested_tuple = ((1,2,3), ("a","b","c"), (True,False))
print(nested_tuple)
print(nested_tuple[1][2])

((1, 2, 3), ('a', 'b', 'c'), (True, False))
c