In [1]:
a = 100

In [2]:
##Declaring & Assigning Variables
age = 20
height = 5.4
name = "Shruti"
is_student = True

##Printing Variables
print("age:", age)
print("height:", height)
print("name:", name)

age: 20
height: 5.4
name: Shruti

In [3]:
#Valid Variable Names
first_name = "Shruti"
last_name = "Salunke"

In [4]:
#invalid variable names
2age = 20
first-name = "Shruti"

SyntaxError: invalid decimal literal (3137391277.py, line 2)

In [5]:
##Type checking & conversion
age = 25
print(type(age))
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [8]:
age = '25'
print(type(age))
name = "Shruti"
int(name)

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Shruti'

In [9]:
height = 5.4
type(height)
int(height)
float(int(height))

5.0

In [11]:
##Dynamic Typing
var = 10
print(var, type(var))
#python allow type of variables to change as program exectes
var = "Hello"
print(var, type(var))
var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [13]:
##input 
age = int(input("What is the age"))
print(age)
print(age, type(age))

20
20 <class 'int'>

In [14]:
##Simple Calculator
num1 = float(input("Enter First Number:"))
num2 = float(input("Enter SecondNumber:"))

sum = num1+num2
diff = num1-num2
prod = num1*num2
quotient = num1/num2

print("Sum:", sum)
print("diff:", diff)
print("prod:", prod)
print("quotient:", quotient)

Sum: 7.0
diff: -3.0
prod: 10.0
quotient: 0.4